// Light Mode

$page-background: #fdfdfd;
$text-color: #2a2a2a;
$component-background: #f9f9f9;
$component-border: rgba(0, 0, 0, 0.1);

// Dark Mode

$dark-page-background: #191b1c;
$dark-text-color: #cdc9c3;
$dark-component-background: #1b1e1f;
$dark-component-border: rgba(255, 255, 255, 0.1);
