// Light Mode

$page-background: #fdfdfd;
$text-color: #2a2a2a;
$component-background: #f9f9f9;
$component-border: rgba(0, 0, 0, 0.1);
$link-color: #1264a3;
$code-background: #eaeaea;
$code-color: #4b2d00;

// Dark Mode

$dark-page-background: #191b1c;
$dark-text-color: #cdc9c3;
$dark-component-background: #1b1e1f;
$dark-component-border: rgba(255, 255, 255, 0.1);
$dark-link-color: #42a7f5;
$dark-code-background: #2f2f2f;
$dark-code-color: #faa92f;
