@import 'breakpoints';

.page-footer {
  margin-top: auto;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 2.4rem;
  width: 100%;
  max-width: 144rem;
}

.blog-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  width: 100%;

  @include md {
    flex-direction: row;
    gap: 4.8rem;
  }

  .page-aside {
    width: 100%;
    max-width: 24rem;
  }
}
