.page-footer {
  margin-top: auto;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 2.4rem;
  width: 100%;
  max-width: 144rem;
}

.blog-wrapper {
  display: flex;
  gap: 4.8rem;
  width: 100%;

  .page-aside {
    width: 100%;
    max-width: 24rem;

    &__title {
      margin-bottom: 0.6rem;
    }
  }
}
