@import 'reset';

html {
  font-size: 56.25%;
}

@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-size: 1.5rem;
}

.content-wrapper {
  margin: 0 auto;
  padding: 0 2.4rem;
  width: 100%;
  max-width: 144rem;
}
